{% extends "../layoutClase.html" %}

{% block body %}
<div class="container mt-4">
    <h1>Lista de Calificiones</h1>
    <a href="nuevaCalificacion" class="btn btn-primary mb-3">Agregar</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estudiante</th>
                <th>Calificacion</th>
                <th>Editar</th>
                <th>Detalle</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in calificaciones %} 
                <tr>
                    <td>{{calificacion.id}}</td>
                    <td>{{calificacion.curso}}</td>
                    <td>{{calificacion.estudiante}}</td>
                    <td>{{calificacion.calificacion}}</td>
                    <td><a href="editarCalificacion/{{calificacion.id}}" class="btn btn-warning btn-sm">Editar</a></td>
                    <td><a href="detalleCalificacion/{{calificacion.id}}" class="btn btn-info btn-sm">Detalle</a></td>
                    <td><a href="EliminarCalificacion/{{calificacion.id}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
