<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Personajes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indexListas.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Listado de Personajes</h1>
        <div>
            <a class="btn-link" href="{{url_for('appindex.index')}}">Inicio</a>
        </div>
        <div>
            <a class="btn-link" href="{{url_for('apppersonaje.agregarPersonaje')}}">Agregar Personaje</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Franquicia</th>
                    <th>Habilidades</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for personaje in personajes %}
                <tr>
                    <td>{{ personaje.id }}</td>
                    <td>{{ personaje.nombre }}</td>
                    <td>{{ personaje.descripcion }}</td>
                    <td>{{ personaje.franquicia }}</td>
                    <td>{{ personaje.habilidades }}</td>
                    <td>{{ personaje.fecha_creacion }}</td>
                    <td>
                        <a class="btn-link" href="detallePersonaje/{{ personaje.id }}">Detalle</a>
                        <a class="btn-link" href="editarPersonaje/{{ personaje.id }}">Editar</a>
                        <a class="btn-link" href="eliminarPersonaje/{{ personaje.id }}">Eliminar</a>
                    </td>
                </tr>        
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="hongo">
    <div class="tallo"></div>
    <div class="bolitas">
        <div class="bolita"></div>
        <div class="bolita"></div>
        <div class="bolita"></div>
    </div>
</div>
</body>
</html>
