<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Juegos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indexListas.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Listado de Juegos</h1>
        <div>
            <a class="btn-link" href="{{url_for('appindex.index')}}">Inicio</a>
        </div>
        <div>
            <a class="btn-link" href="{{url_for('appjuego.agregarJuego')}}">Agregar Juego</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Lanzamiento</th>
                    <th>Género</th>
                    <th>Copias Vendidas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td>{{ juego.id }}</td>
                    <td>{{ juego.nombre }}</td>
                    <td>{{ juego.fecha_lanzamiento }}</td>
                    <td>{{ juego.genero }}</td>
                    <td>{{ juego.copias_vendidas }}</td>
                    <td>
                        <a class="btn-link" href="detalleJuego/{{ juego.id }}">Detalle</a>
                        <a class="btn-link" href="editarJuego/{{ juego.id }}">Editar</a>
                        <a class="btn-link" href="eliminarJuego/{{ juego.id }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="hongo">
        <div class="tallo"></div>
        <div class="bolitas">
            <div class="bolita"></div>
            <div class "bolita"></div>
            <div class="bolita"></div>
        </div>
    </div>
</body>
</html>
